<div class="page">
    <div class="login-form">
        <!--logo -->
        <h6>SIGN IN</h6>

        <!--username -->
        <div class="input-login">
            <ion-input [(ngModel)]="username" placeholder="username..." type="text"></ion-input>
        </div>
        <!--password -->
        <div class="input-login">
            <ion-input [(ngModel)]="password" placeholder="password..." type="password"></ion-input>
        </div>

        <!--register -->
        <p>
            Don't have account?
            <span id="register-link"><a (click)="openRegister()">Register here</a></span
      >
    </p>

    <!--submit button -->
    <ion-button id="login-button" (click)="logIn()">Login</ion-button>
  </div>
</div>
