<div class="page">
    <div class="register-form" scrollY="true">
        <!--logo -->

        <h6>REGISTER</h6>

        <!--Username -->
        <ion-item class="input-login">
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>

        <!--Email -->
        <ion-item class="input-login">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email"></ion-input>
        </ion-item>

        <!--First Name -->
        <ion-item class="input-login">
            <ion-label position="floating">First Name</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>

        <!--Last Name -->
        <ion-item class="input-login">
            <ion-label position="floating">Last Name</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>

        <!--password -->
        <ion-item class="input-login">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password"></ion-input>
        </ion-item>

        <!--repeat password -->
        <ion-item class="input-login">
            <ion-label position="floating">Repeat password</ion-label>
            <ion-input type="password"></ion-input>
        </ion-item>

        <p>
            Already have account?
            <span id="login-link" (click)="openLogin()"><a>Login here</a></span>
        </p>

        <!--submit button -->
        <ion-button id="register-button">Register</ion-button>
    </div>
</div>
